@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

body{
    background-image: linear-gradient(to right, orange, rgb(163, 107, 2), rgb(88, 58, 0));
}

 main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

h1{ 
    color: rgb(88, 58, 0);
    text-align: center;
}

img{
    margin: auto;
}


