@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron';
    color: var(--cor5);
}
:root{
    --cor1: #042940;
    --cor2: #005C53;
    --cor3: #9FC131;
    --cor4: #DBF227;
    --cor5: #D6D58E;
}
header{
    width: 100%;
    height: 75px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

body{
    width: 97%;
    height: 100%;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}
main{
    padding: 10px;
}
fieldset{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}
label, input{
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    border: none;
}
input{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
    color: var(--cor1);
}
input.btn{
    padding: 10px;
    color: var(--cor1);
    width: 200px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}

legend{
    margin: 5px;
    background-color: var(--cor5);
    color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}
