@charset "utf.8";
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136,109,93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
    

}
p{
    text-align: justify;
}

h1{
    text-align: center;
    color: #F39209 ;
}
h2{
    color: #125189;
}