@charset "UTF-8";
@font-face {
    font-family: "Chospic";
    src: url(fonte/Chopsic.otf) format('opentype');
}


body{
    background-color: rgb(205,255,203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4,109,0);
}

h1#main{
    text-align: center;
    font-family: "Chospic";
    color: white;
    background-color: rgb(4,109,0);
}

h2{
    color: rgb(73,109,71);
}

.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}

.destaque{
    background-color: rgba(197, 197, 0, 0.438);
}