@charset "utf-8";
@font-face {
    font-family: 'Passion One';
    src: url('fontes/PassionOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100h;
}
main{
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
}
header{
    padding-top: 50px ;
    min-height: 130px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Passion One';
}
header > h1{
    font-size: 3.5em;
    font-variant: small-caps;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > p > a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
body > main{
    font-family: 'Sriracha';
}

section.normal{
    margin-left: 20px;
    margin-bottom: 20px;
}
section.parallax{
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.486);
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 40px;

    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}
div.parallax_1{
    box-shadow: inset 4px 4px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: black;
    background-image: url('../imagens/background001.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    height: 400px;
    width: 100%;
    margin: 10px 0px;
}


div.parallax_2{
    box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: black;
    background-image: url('../imagens/background002.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin: 10px 0px;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Passion One';

}
