@charset "UTF-8";


body{
    background-color: rgb(0, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkblue;
    background-color: rgb(0, 255, 13);
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}
